<ion-app>
  <ion-split-pane when="sm" contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>App của mẹ</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list [formGroup]="searchCriteriaForm">
          <ion-menu-toggle [autoHide]="false">
            <ion-item>
              <ion-icon slot="start" name="search"></ion-icon>
              <ion-label [position]="'floating'"> Tìm kiếm </ion-label>
              <ion-input
                formControlName="criteria"
                clearInput
                type="text"
                value="333"
              ></ion-input>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <cdk-virtual-scroll-viewport
          [itemSize]="56"
          [minBufferPx]="900"
          [maxBufferPx]="1350"
        >
          <ion-list>
            <ion-item
              *cdkVirtualFor="let resultItem of patients$ | async"
              (click)="select(resultItem)"
            >
              <ion-label>
                <ion-text>
                  <h1>
                    <b
                      >{{ resultItem.item.patientName }} |
                      {{ resultItem.item.dob }}</b
                    >
                  </h1>
                </ion-text>
                <ion-text color="warning">
                  <h1>{{ resultItem.item.parentName }}</h1>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </cdk-virtual-scroll-viewport>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>Thông Tin Bệnh Nhân </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-patient-card
          *ngIf="selectedItems[0] as selectedPatient"
          [patient]="selectedPatient.item"
        ></app-patient-card>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>
